@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color-scheme: dark white;
}
body{
    font-family:  "Lexend", sans-serif;
    background-color: #070F2B;
}
header{
    background-color: #1B1A55;
   /* // box-shadow: 10px 20px 20px rgba(0,0,0,0.3); */
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.6);
    padding: 0.5rem;
   
}
main{
    width: 80%;
    margin:1rem auto;
}
main nav{
    text-align: right;
}
section{
    margin-block: 1rem;
}