<!DOCTYPE html>
<html lang="en">
  <head data-th-fragment="head(links)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Store Application</title>
    <link rel="icon" href="/image/download-removebg-preview.png" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/utility.css" />
    <link data-th-replace="${links}" />
  </head>
  <body>
    <header data-th-fragment="header" class="flex-align-center-1">
      <image
        src="/image/download-removebg-preview.png"
        alt="..."
        height="80"
        width="80"
      ></image>
      <h2>Book Store Application</h2>
    </header>

    <nav data-th-fragment="nav(url,title)">
      <a data-th-href="${url}" data-th-text="${title}"></a>
    </nav>
  </body>
</html>
