<!DOCTYPE html>
<html lang="en">
  <head data-th-replace="~{fragment :: head(~{::link})}">
    <link rel="stylesheet" href="/css/new-book.css" />
  </head>
  <body>
    <header data-th-replace="~{fragment :: header}"></header>

    <main>
      <nav data-th-replace="~{fragment :: nav('/home', 'Back to Home')}"></nav>
      <section>
        <form
          action="/create-update-book"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="input-container" data-th-object="${book}">
            <div>
              <label for="book-name">Book name</label>
              <input
                type="text"
                id="book-name"
                name="bookName"
                placeholder="ex: Java For Begginers"
                class="input-field"
                data-th-field="*{bookName}"
              />
            </div>

            <div>
              <label for="book-author">Author name</label>
              <input
                type="text"
                id="book-author"
                name="authorName"
                placeholder="ex: Rasmikanta Das ."
                class="input-field"
                data-th-field="*{authorName}"
              />
            </div>

            <div>
              <label for="total-page">Total Page</label>
              <input
                type="number"
                id="total-page"
                name="totalPage"
                placeholder="ex: 612 page ."
                class="input-field"
                data-th-field="*{totalPage}"
              />
            </div>

            <div>
              <label for="publication-date">Publication Date</label>
              <input
                type="date"
                id="publication-date"
                name="publicationDate"
                placeholder="ex: 3-1-2002."
                class="input-field"
                data-th-value="*{publicationDate}"
              />
            </div>

            <div class="flex-align-center-1">
              <input
                type="radio"
                id="paper-back"
                name="bookFormat"
                value="PAPERBACK"
                data-th-field="*{bookFormat}"
              />
              <label for="paper-back">Paper Back</label>

              <input
                type="radio"
                id="hard-cover"
                name="bookFormat"
                value="HARDCOVER"
                data-th-field="*{bookFormat}"
              />
              <label for="hard-cover">Hard Cover</label>
            </div>

            <div class="flex-align-center-1">
              <label for="amazon">Amazon</label>
              <input
                type="checkbox"
                id="amazon"
                name="availability"
                value="amazon"
                data-th-field="*{availability}"
              />

              <label for="flipkart">Flipkart</label>
              <input
                type="checkbox"
                id="flipkart"
                name="availability"
                value="flipkart"
                data-th-field="*{availability}"
              />

              <label for="offline">Offline</label>
              <input
                type="checkbox"
                id="offline"
                name="availability"
                value="offline"
                data-th-field="*{availability}"
              />
            </div>

            <div>
              <label for="book-catagory">Book Catagory</label>

              <select
                name="catagory"
                id="book-catagory"
                class="input-field"
                data-th-field="*{catagory}"
              >
                <option value="sports">sports</option>
                <option value="sports">sports</option>
                <option value="music">music</option>
                <option value="movies">movies</option>
                <option value="books">books</option>
                <option value="travel">travel</option>
              </select>
            </div>

            <div>
              <label for="book-image">Book Image</label>
              <input
                type="file"
                name="bookImage"
                id="book-image"
                class="input-field"
              />
            </div>

            <div class="grid-full">
              <label for="book-description">Book Description</label>
              <textarea
                rows="3"
                name="description"
                id="book-description"
                placeholder="Enter any Text ."
                class="input-field"
                data-th-field="*{description}"
              ></textarea>
            </div>
            <input type="hidden" name="bookId" data-th-field="*{bookId}" />
          </div>
          <div class="submit-btn-container">
            <input type="submit" />
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
